body{
    background-color: rgba(241, 237, 237, 0.2);
}

.main-container{
    display: block;
    
    
}
.first-logo{
    float: left;
    margin-left: 40px;
  
}
.nav-tab{
    display: block;
    margin-left: 20px;
  
}
.nav-tab :hover{
    color: red;
}

.nav-tab>div {
    float: left;
    padding: 5px;
    margin-right: 3px;
    margin-top: 25px;
    background-color: rgb(173, 162, 162);
}
a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}


.complete-search-div{
    display: block;
    margin-left: 10px;
}
.complete-search-div >div{
    float: left;
    margin: 5px;
}

.filter-className [type="text"]{
    width: 40px;
    height: 30px;
    padding-left: 8px;
    background-color: grey;
    color: white;
    font-weight: bolder;
    margin-top: 18px;
}

.search-div [type="search"]{
    height: 30px;
    padding-left: 10px;
    margin-top: -5px;
    margin-left: -35px;
}

.basket-div{
    margin-bottom: -10px;
    margin-left: 20px;
}

.sign-up-div{
    margin-top: 28px;
    margin-left: 50px;

 
}


#button-tag{
    background-color: gray;
    border: 1px solid black;
    padding: 5px;

}




